services:
  - type: web
    name: elonu-elon-web
    env: node
    plan: free
    branch: main
    buildCommand: npm install
    startCommand: npm run server
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 5001